<div class="pt-4">
<button routerLink="/form" class="btn-primary d-block float-right">ADD</button>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor = "let user of customers; let i = index">
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td><button (click)="delete(user.id, i)" class="btn-primary" >Delete</button></td>
        <td><button type="button" (click)="update(user.id)" class="btn-primary" >Update</button></td>
      </tr>
          </tbody>
  </table>
